* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: transparent;
    overflow: hidden;
    position: relative;
    height: 100vh;
}

body.align-center #keys {
    justify-content: center;
}

body.align-right #keys {
    justify-content: flex-end;
}

body.vertical-center #keys {
    align-items: center;
}

body.vertical-bottom #keys {
    align-items: flex-end;
}

#keys {
    display: flex;
    gap: 1em;
    padding: 1em;
    position: absolute;
    width: 100%;
    height: 100%;
}

.key {
    background: rgb(92, 92, 92);
    color: white;
    font-size: 2em;
    padding: 0.2em 0.5em;
    border-radius: 0.3em;
    font-family: "LINE Seed JP_OTF", sans-serif;
    font-weight: bold;

    transition:
        box-shadow 30ms ease-out,
        transform 30ms ease-out,
        opacity 200ms ease-in-out;
    transform: translateY(0px);
    box-shadow: 0px 14px rgb(43, 43, 43);
}

.key.open {
    opacity: 1;
    transition-duration: 30ms, 30ms, 0ms;
}

.key:not(.open) {
    opacity: 0;
}

.key.press {
    box-shadow: 0px 7px rgba(43, 43, 43);
    transform: translateY(7px);
}